.hero {
  background-color: var(--ptimary-dark-bg-color);
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  width: 1600px;

  background-size: contain;

  &__container {
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 252px;
    padding-right: 252px;
  }
  &__title {
    margin-bottom: 30px;
    color: var(--primary-white-color);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  &__button {
    padding: 10px 32px;

    background-color: var(--accent-color);
    color: var(--primary-white-color);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    letter-spacing: 0.06em;
  }
}
