.logo {
  color: #000000;
  // text-decoration: none;
  font-family: $secondaryFont;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  &__accent {
    color: var(--accent-color);
  }
  &__white {
    color: var(--primary-white-color);
  }
}
